
<div class="container">
    <h2>GALERIA DE AUTOS</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum sequi quasi esse expedita, repudiandae facere debitis, dolor molestiae nisi soluta nulla nobis, facilis ducimus laborum voluptates dicta eligendi cumque quia..</p>

    @for( item of autos; track item){

      <div class="col-md-4">
        <div class="thumbnail">
          <hr>
          <a href="{{item.imagen}}">
            <img src="{{item.imagen}}" alt="Lights" style="height:170px">
            </a>
            <div class="caption">
              <p>
              Marca y Modelo: {{item.marca}}<br>
              <button class="btn btn btn-warning" [routerLink]="['/detalles-autos', item.id]">Más detalles</button> <br><hr>
              </p> 
            </div>
        </div>
      </div>
      }
  
  