<h1>DETALLES AUTOS</h1>
<div class="container">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="{{auto.imagen}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Marca: {{auto.marca}}</h4>
          <p class="card-text">Placa: {{auto.id}}</p>
          <p class="card-text">Color: {{auto.color}}</p>
          <p class="card-text">Precio: $ {{auto.precio}}</p>
          <a href="autos" class="btn btn-primary">Regresar</a>
    
        </div>
      </div>
    </div>