<div class="container">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="filtro">Busqueda por Placa</label>
        <input type="text" class="form-control" [(ngModel)]='filtro'>
        <button class="btn btn-danger" (click)="runFiltro(id)">Filtrar</button>
      </div>
    </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Color</th>
        <th>Precio ($)</th>
      </tr>
    </thead>
    <tbody>
      @for(auto of autos; track auto){
      <tr>
        <td>{{auto.id}}</td>
        <td>{{auto.marca}}</td>
        <td>{{auto.color}}</td>
        <td>{{auto.precio}}</td>
        <td>
          <button class="btn btn-warning" [routerLink]="['/editar', auto.id]">Editar</button>
          
          <button class="btn btn-danger" (click)="eliminar(auto.id)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>